<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.ih.osm.catalog-sync</string>
		<string>com.ih.osm.card-sync</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>DevelopmentApiBaseURL</key>
	<string>$(OSM_DEV_API_BASE_URL)</string>
	<key>ProductionApiBaseURL</key>
	<string>$(OSM_PROD_API_BASE_URL)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
